<div class='main-map'>
  <img id='bm'/>
  <div class='main-map-overlay'>
    <div class='metainfo'>
      <h1 id='title'></h1>
      <h2 id='author'></h1>
    </div>
  </div>
</div>
<div class='bottom-bar'>
  <% @maps.each_with_index do |_, index| %>
    <div class='small-map'>
      <img id='sm-<%= index %>'/>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  var maps = <%= raw @maps.map { |map| present_map(map) }.to_json %>
  var currentlyShowing = 0;

  $(document).ready(function () {
    setUp();
    pid = setInterval(loadBoard, 5000);

    function setUp () {
      setupBigMap();
      setupSmallMaps();
    }

    function loadBoard() {
      loadBigMap(maps[currentlyShowing]);
      loadSmallMaps(maps);

      if (currentlyShowing === maps.length - 1) {
        clearInterval(pid);
        window.location.reload();
      } else {
        currentlyShowing++;
      }

    }

    function loadBigMap(map) {
      var bMURL = URLForDimensions(map.url, BMWidth, BMHeight);

      document.getElementById('bm').setAttribute('src', bMURL)
      document.getElementById('title').innerHTML = map.title;
      document.getElementById('author').innerHTML = 'by ' + map.author;
    }

    function setupBigMap() {
      var bigMap = document.getElementById('bm');
      var container = $('.main-map');

      BMWidth = container.width();
      BMHeight = container.height();

      setObjectDimensions(bigMap, BMWidth, BMHeight);
    }

    function setupSmallMaps() {
      var container = $('.small-map');

      SMWidth = container.width();
      SMHeight = container.height();

      for (var c in maps) {
        setObjectDimensions(document.getElementById('sm-' + c), SMWidth, SMHeight);
      }
    }

    function loadSmallMaps(maps) {
      for (var c in maps) {
        loadSmallMap(maps[c], c);
      }
    }

    function loadSmallMap(map, index) {
      var sMURL = URLForDimensions(map.url, SMWidth, SMHeight);

      document.getElementById('sm-' + index).setAttribute('src', sMURL)
    }

    function setObjectDimensions(object, width, height) {
      object.setAttribute('width', width);
      object.setAttribute('height', height);
    }

    function URLForDimensions(url, width, height) {
      return url.replace('{X}', Math.floor(width)).replace('{Y}', Math.floor(height));
    }
  })
</script>